[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
pydantic = "*"
clickhouse-driver = "*"

[dev-packages]
isort = "*"
flake8 = "*"
black = "==21.6b0"

[requires]
python_version = "3.9"
