[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
clickhouse-driver = "*"
sqlalchemy = "*"
pyjwt = {extras = ["crypto"], version = "*"}
psycopg2-binary = "*"
python-multipart = "*"
backoff = "*"
httpx = "*"
pytest = "*"
sentry-sdk = "*"
python-logstash-async = "*"

[dev-packages]
black = "==21.6b0"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.9"
